// main: "./style.less"

.ed_fonts{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	//border: 1px solid blue;
	overflow: auto;
	min-height: 0;
	.controls{
		display: flex;
		flex: 0 0 auto;
		padding: 10px;
		&>*{
			margin-right: 10px;
			display: flex;
			align-items: center;
		}

		h2{
			margin:0 20px 0 0;
		}
		input{
			border: 1px solid #555;
			background-color: #222;
			color: #eee;
			padding:5px;
		}
		button{
			display: flex;
			align-items: center;
			justify-content: center;
			width:40px;
			height:40px;
			border-radius: 5px;
			background-color: #222;
			padding: 5px;
			color: #fff;
			cursor: pointer;
			//border-color: transparent;
			border: 1px solid #555;
			font-size: 20px;
			&.auto{
				width:auto;
			}
		}
		.active{
			background-color: #533;
			border-color: #fff;
		}
	}

	.glyphs_wrap{
		flex: 0 1 auto;
		//border: 1px solid red;
		//overflow-y: auto;
		//min-height: 500px;
		//border: 1px solid red
		.glyphs{
			display: flex;
			flex-wrap: wrap;
			
			.glyph{
				min-width: 120px;
				background-color: #222;
				color: #aaa;
				margin: 5px;
				padding: 5px;
				display: flex;
				flex-direction: column;
				align-items: stretch;
	
				.main{
					display: flex;
					align-items: stretch;
					//justify-content: space-between;
	
					.draw{
						display: flex;
						justify-content: center;
						align-items: center;
						flex-grow: 1;
					}
					.rpanel{
						width: 20px;
						background-color: #222;
	
						button{
							background-color: transparent;
							border:0;
							color: #555;
							width: 100%;
							padding:0;
							font-size: 16px;
							cursor: pointer;
							transition: 200ms;
							padding: 2px 0;
							border-radius: 2px;
	
							&:hover{
								background-color: fade(#aaa,10);
								color: #777;
							}
						}
					}
				}
	
				.controls{
					padding-top: 7px;
					display: flex;
					justify-content: space-between;
					flex: 0 1 auto;
					input{
						background-color: fade(#fff,10);
						color: #eee;
						flex:1;
						width: 10px;
						font-size: 20px;
						border: 0;
						border-radius: 5px;
						padding: 2px;
						text-align: center;
						font-weight: bold;
						&::placeholder{
							font-size: 16px;
							font-weight: normal;
						}
					}
				}
	
				&.addnew{
					display: flex;
					align-items: center;
					justify-content: center;
					padding-bottom: 30px;
					opacity: 0.8;
					cursor: pointer;
					&::after{
						content: '+';
						font-size: 80px;
						color: #555;
					}
	
					&:hover{
						opacity: 1;
					}
				}
			}
		}
	}
	

	.symlist{
		background-color: #333;
		padding: 5px;
		margin: 10px;
		border-radius: 4px;
		.symclass{
			display: flex;
			align-items: center;
			.caption{
				width: 8em;
				text-align: right;
				color: #aaa;
			}
			.list{
				margin-left: 10px;
				span{
					display: inline-block;
					//width: 16px;
					padding: 2px;
					margin: 1px;
					color: #656565;
					text-align: center;
					font-weight: bold;

					&.active{
						color: #0f0;
						font-weight: bold;
					}
				}
			}
			
		}
	}

	.fontexport{
		@word_width: 25px;
		@word_length: 128px;

		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: #000a;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity 0.3s;
		&.visible{
			opacity: 1;
		}
		&.off{
			display: none;
		}
		.modal{
			border: 1px solid #aaa;
			width: 1000px;
			// height: 200px;
			border-radius: 4px;
			background-color: #222;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			h3{
				margin: 0.6em;
				color: #aaa;
			}
			.main{
				display: flex;
				.controls{
					display: flex;
					flex-direction: column;
					align-items: stretch;
					min-width: 300px;
					label{
						font-size: 1.2em;
						margin: 0.2em;
						display: flex;
						justify-content: space-between;
						border-bottom: 1px solid #fff3;
						padding: 0 0 4px 0;
						select{
							font:inherit;
							margin-left: 0.3em;
						}
					}
				}
				.descr{
					//padding: 10px;
					//min-width: 300px;
					display: flex;
					flex-direction: column;
					//justify-content: center;
					align-items: center;
					h4{
						margin:0 0 10px 0;
					}
					.model_area{
						display: flex;
						justify-content: center;
						width: 300px;
						height: 300px;
						.model{
							@col: #55d;
							display: flex;
							flex-wrap: wrap;
							
							
							&>div{
								border: 2px solid @col;
								margin: 1px;
								display: flex;
								justify-content: space-between;
								align-items: center;
								span:first-child, span:last-child{
									color: @col; 
								}
								span:nth-child(2){
									font-size: 1.2em;
								}

							}
							&.orient_rows{
								width: @word_length*2+5;
								height: @word_width*4+10;
								&>div{
									width: @word_length;
									height: @word_width;
									&.msb_lsb{
										flex-direction:row-reverse;
									}
								}
							}
							&.orient_cols{
								width: @word_width*4+10;
								height: @word_length*2+5;
								&>div{
									width: @word_width;
									height: @word_length;
									flex-direction:column;
									&.msb_lsb{
										flex-direction:column-reverse;
									}
								}
							}
							

							&.scan_cols_rows{
								flex-direction: column;
							}
							&.scan_rows_cols{
								flex-direction: row;
								align-items: flex-start;
							}
						}
					}
				}
			}
			.button{
				display: flex;
				justify-content: center;
				button{
					font-size: 1.2em;
					padding: 0.3em 0.5em;
				}
			}
			.export{
				display: flex;
				flex-direction: column;
				align-items: stretch;
				padding: 10px;
				textarea{
					height: 300px
				}
			}
			
		}
	}
}