html,
body {
  min-height: 100vh;
}
body {
  background: url(/bg2.jpg);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: flex;
  align-items: stretch;
  color: #fff;
}
* {
  user-select: none;
  box-sizing: border-box;
}
#app,
#app > div {
  width: 100%;
  min-height: 100%;
}
#app > div {
  display: flex;
  align-items: stretch;
}
#app > div .lpanel {
  width: 200px;
  flex: 0 0 auto;
  border-right: 1px solid #700;
  background-color: #111;
}
#app > div .lpanel h3 {
  font-size: 16px;
  cursor: pointer;
  padding-left: 22px;
  margin: 5px 0 10px 0;
}
#app > div .lpanel h3.foldable {
  padding-left: 0;
}
#app > div .lpanel h3.foldable span {
  display: inline-block;
}
#app > div .lpanel h3.foldable span::before {
  transition: transform 100ms;
}
#app > div .lpanel h3.foldable.closed span::before {
  transform: rotate(-90deg);
}
#app > div .lpanel ul {
  margin: 0 0 0 30px;
  padding: 0 0 10px 0;
}
#app > div .lpanel ul li {
  list-style-type: none;
  cursor: pointer;
  margin: 4px 0;
  color: #aaa;
}
#app > div .lpanel ul li:hover {
  text-decoration: underline;
}
#app > div .editor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  max-height: 100vh;
  flex: 0 1 auto;
}
#app > div .editor .tabs {
  display: flex;
  height: 30px;
  flex: 0 0 auto;
}
#app > div .editor .tabs .tab {
  padding: 5px;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.1);
}
#app > div .editor .editor_window {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  overflow: auto;
}
#app > div .editor .editor_window > * {
  flex: 0 1 auto;
}
.display {
  display: flex;
}
.display .col {
  display: flex;
  flex-direction: column;
}
.drawarea {
  overflow: hidden;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
}
.drawarea .row {
  display: flex;
}
.drawarea .row .pixel {
  background-color: transparent;
  position: relative;
  width: 12px;
  height: 12px;
  padding: 1px;
}
.drawarea .row .pixel::after {
  content: "";
  display: block;
  width: 95%;
  height: 95%;
  border-radius: 25%;
  background-color: #333;
  transition: background-color 150ms, box-shadow 150ms;
}
.drawarea .row .pixel.active::after {
  background-color: #f30;
  box-shadow: 0 0 10px #f00;
}
.ed_fonts {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  overflow: auto;
  min-height: 0;
}
.ed_fonts .controls {
  display: flex;
  flex: 0 0 auto;
  padding: 10px;
}
.ed_fonts .controls > * {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.ed_fonts .controls h2 {
  margin: 0 20px 0 0;
}
.ed_fonts .controls input {
  border: 1px solid #555;
  background-color: #222;
  color: #eee;
  padding: 5px;
}
.ed_fonts .controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #222;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #555;
  font-size: 20px;
}
.ed_fonts .controls button.auto {
  width: auto;
}
.ed_fonts .controls .active {
  background-color: #533;
  border-color: #fff;
}
.ed_fonts .glyphs_wrap {
  flex: 0 1 auto;
}
.ed_fonts .glyphs_wrap .glyphs {
  display: flex;
  flex-wrap: wrap;
}
.ed_fonts .glyphs_wrap .glyphs .glyph {
  min-width: 120px;
  background-color: #222;
  color: #aaa;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.ed_fonts .glyphs_wrap .glyphs .glyph .main {
  display: flex;
  align-items: stretch;
}
.ed_fonts .glyphs_wrap .glyphs .glyph .main .draw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.ed_fonts .glyphs_wrap .glyphs .glyph .main .rpanel {
  width: 20px;
  background-color: #222;
}
.ed_fonts .glyphs_wrap .glyphs .glyph .main .rpanel button {
  background-color: transparent;
  border: 0;
  color: #555;
  width: 100%;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  transition: 200ms;
  padding: 2px 0;
  border-radius: 2px;
}
.ed_fonts .glyphs_wrap .glyphs .glyph .main .rpanel button:hover {
  background-color: rgba(170, 170, 170, 0.1);
  color: #777;
}
.ed_fonts .glyphs_wrap .glyphs .glyph .controls {
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
  flex: 0 1 auto;
}
.ed_fonts .glyphs_wrap .glyphs .glyph .controls input {
  background-color: rgba(255, 255, 255, 0.1);
  color: #eee;
  flex: 1;
  width: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
}
.ed_fonts .glyphs_wrap .glyphs .glyph .controls input::placeholder {
  font-size: 16px;
  font-weight: normal;
}
.ed_fonts .glyphs_wrap .glyphs .glyph.addnew {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  opacity: 0.8;
  cursor: pointer;
}
.ed_fonts .glyphs_wrap .glyphs .glyph.addnew::after {
  content: '+';
  font-size: 80px;
  color: #555;
}
.ed_fonts .glyphs_wrap .glyphs .glyph.addnew:hover {
  opacity: 1;
}
.ed_fonts .symlist {
  background-color: #333;
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
}
.ed_fonts .symlist .symclass {
  display: flex;
  align-items: center;
}
.ed_fonts .symlist .symclass .caption {
  width: 8em;
  text-align: right;
  color: #aaa;
}
.ed_fonts .symlist .symclass .list {
  margin-left: 10px;
}
.ed_fonts .symlist .symclass .list span {
  display: inline-block;
  padding: 2px;
  margin: 1px;
  color: #656565;
  text-align: center;
  font-weight: bold;
}
.ed_fonts .symlist .symclass .list span.active {
  color: #0f0;
  font-weight: bold;
}
.ed_fonts .fontexport {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000a;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.ed_fonts .fontexport.visible {
  opacity: 1;
}
.ed_fonts .fontexport.off {
  display: none;
}
.ed_fonts .fontexport .modal {
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.ed_fonts .fontexport .modal h3 {
  margin: 0.6em;
  color: #aaa;
}
.ed_fonts .fontexport .modal .main {
  display: flex;
}
.ed_fonts .fontexport .modal .main .controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 300px;
}
.ed_fonts .fontexport .modal .main .controls label {
  font-size: 1.2em;
  margin: 0.2em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff3;
  padding: 0 0 4px 0;
}
.ed_fonts .fontexport .modal .main .controls label select {
  font: inherit;
  margin-left: 0.3em;
}
.ed_fonts .fontexport .modal .main .descr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ed_fonts .fontexport .modal .main .descr h4 {
  margin: 0 0 10px 0;
}
.ed_fonts .fontexport .modal .main .descr .model_area {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model {
  display: flex;
  flex-wrap: wrap;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model > div {
  border: 2px solid #55d;
  margin: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model > div span:first-child,
.ed_fonts .fontexport .modal .main .descr .model_area .model > div span:last-child {
  color: #55d;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model > div span:nth-child(2) {
  font-size: 1.2em;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model.orient_rows {
  width: 261px;
  height: 110px;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model.orient_rows > div {
  width: 128px;
  height: 25px;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model.orient_rows > div.msb_lsb {
  flex-direction: row-reverse;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model.orient_cols {
  width: 110px;
  height: 261px;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model.orient_cols > div {
  width: 25px;
  height: 128px;
  flex-direction: column;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model.orient_cols > div.msb_lsb {
  flex-direction: column-reverse;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model.scan_cols_rows {
  flex-direction: column;
}
.ed_fonts .fontexport .modal .main .descr .model_area .model.scan_rows_cols {
  flex-direction: row;
  align-items: flex-start;
}
.ed_fonts .fontexport .modal .export {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}
.ed_fonts .fontexport .modal .export textarea {
  height: 300px;
}
